/**** Home ****/
.home-container {
	height: 100vh;
	max-height: 100%;
  width: 100vw;
	max-width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 0;
}

.home-wrapper {
	width: 60%;
}

.home-main-text {
	font-size: 2.6rem;
}

.home-sec-text {
	font-size: 1.3rem;
	margin-left: 1%;
  line-height: 1.5;
}

/* Large laptops and desktops */
@media (min-width: 1500px) {
}

/* Medium laptops and desktops */
@media (min-width: 1201px) and (max-width: 1500px) {
}


/* Small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Portrait tablets and large phones */
@media (min-width: 601px) and (max-width: 1024px) {
	.home-wrapper {
		width: 85%;
	}

	.home-main-text {
		font-size: 3rem;
		line-height: 3rem;
	}

	.home-sec-text {
		font-size: 1.5rem;
	}
}

/* Phones */
@media (max-width: 600px) {
	.home-wrapper {
		width: 85%;
	}

	.home-main-text {
		font-size: 2rem;
		line-height: 2rem;
	}

	.home-sec-text {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
}

@media (max-width: 400px) {
	.home-main-text {
		font-size: 1.7rem;
		line-height: 1.7rem;
	}

	.home-sec-text {
		font-size: 1.3rem;
		line-height: 1.5rem;
	}
}