/**** Project individual images ****/
.details-container {
  width: 100%;
  height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
  justify-content: center;
	background-color: var(--white-color);
	background-image: var(--grain-bg);
}

.details-container h1 {
  width: 80%;
  text-align: center;
  background-color: var(--cream1-color);
	color: var(--main-text);
  padding: 0.5rem;
  z-index: 1;
}

.details-container h2 {
  width: 70%;
  line-height: 1.5;
}

.details-container h3 {
	background-color: var(--gray3-color);
	color: var(--white-color);
	padding: 1rem 2rem;
	z-index: 3;
}

.details-container h4 {
  width: auto;
	background-color: var(--cream1-color);
	color: var(--main-text);
	padding: 1rem;
  border-radius: 0 0 1rem 1rem;
}

.single-video {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 56.25%;
}

.single-video-wide {
  width: 100%;
  height: 100%;
  position: relative;
  padding-top: 36.24%;
}

.video-1-container {
  width: 80%;
  height: 100%;
  z-index: 1;
  margin-bottom: 4rem;
}

.video-2-container {
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  z-index: 1;
}

.video-2-col {
  width: 100%;
  height: 100%;
}

.video-2-col-left {
  margin-right: 1rem;
}

.video-2-col-right {
  margin-left: 1rem;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.image-wrapper {
  width: 50%;
}

/* Phones */
@media (max-width: 500px) {
  .details-container h2,
  .details-container h4 {
    font-size: 1rem;
  }

  .image-3-container {
    flex-wrap: wrap;
  }

  .image-2-col,
  .image-3-col,
  .image-3-quarter-col {
    width: 100%;
    margin: 0 2rem 1rem;
  }

  .video-2-container,
  .image-2-container,
  .image-3-quarter-container {
    flex-wrap: wrap;
  }

  .video-2-col-left,
  .video-2-col-right,
  .image-2-col-left,
  .image-2-col-right {
    margin: 1rem 0;
  }
}

/* Portrait tablets and large phones */
@media (min-width: 501px) and (max-width: 1024px) {
  .details-container h2 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }

  .details-container h4 {
    font-size: 1.3rem;
  }

  .image-3-col {
    margin: 0 1rem;
  }
}

/* Small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h4 {
		font-size: 1.3rem;
	}
}

/* Medium laptops and desktops */
@media (min-width: 1201px) and (max-width: 1500px) {

}

/* Large laptops and desktops */
@media (min-width: 1500px) {

}
