/**** Projects ****/
.projects {
	height: 100vh;
	max-height: 100%;
	width: 100vw;
	max-width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between;
	z-index: 0;
}

.project-left-side {
	margin-left: 10%;
	width: 50vw;
}

.project-single {
	margin-right: 10%;
}

.project-title {
	color: var(--main-text);
	position: relative;
	padding: 0.2rem 0;
	text-decoration: none;
}

.project-name, .project-role {
	position: relative;
	padding: 0.4rem;
}

.project-name:hover, .project-role:hover {
	color: var(--main-text);
}

.project-name::before, .project-role::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: 0;
  left: 0;
  background-color: var(--main-text);
  transform: scaleX(0);
	transform-origin: top left;
  transition: transform 0.3s ease;
}

.project-role::before {
	transform-origin: top right;
}

.project-name:hover::before, .project-role:hover::before {
  transform: scaleX(1);
}

.project-text {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 1em 0;
}

.project-role {
	text-align: right;
}

.image-container {
	height: 65vh;
	width: 40vw;
	display: flex;
	position: relative;
	align-items: center;
}

.image-container img {
	height: 100%;
	width: 100%;
	position: absolute;
	object-fit: cover;
	transition: 0.5s ease-in-out;
}

.project-image {
	border-radius: 50px 0 0 50px;
}

.border {
	border-top: 1px dotted;
}

/* Large laptops and desktops */
@media (min-width: 1500px) {
}

/* Medium laptops and desktops */
@media (min-width: 1201px) and (max-width: 1500px) {
}


/* Small laptops and desktops */
@media (min-width: 1025px) and (max-width: 1200px) {
}

/* Portrait tablets and large phones */
@media (min-width: 601px) and (max-width: 1024px) {
	.projects {
		flex-direction: column;
		justify-content: center;
	}

	.project-left-side {
		width: 100vw;
		max-width: 100%;
	}

	.image-container {
		display: none;
	}
}

/* Phones */
@media (max-width: 600px) {
	h1 {
		font-size: 3.5rem;
	}
	h2 {
		font-size: 1.4rem;
	}
	h4 {
		font-size: 1rem;
	}

	.back {
		top: 2%;
	}

	.projects {
		flex-direction: column;
		justify-content: center;
	}

	.project-left-side {
		width: 100vw;
		max-width: 100%;
	}

	.left-side {
		width: 80%;
		margin-bottom: 25%;
		margin-left: 0;
	}

	.right-side {
		text-align: center;
		margin-right: 0;
		margin-top: 20%;
	}

	.image-container {
		display: none;
	}
}
